html {
  /* --content-background: #0F61FF ; */
  --background: #1D2227 ; 
  --negative: black;
  --link: #408DFF;
  --visited-link: var(--link);
  --color: #FFFFFF;
  --title-color:#263042;
  padding: 0px;
}

#logo {
  max-width: 400px;
  max-height: 1em;
  align-self: center;
  transform: translate(0px, .1em);
}

hr {
  width: 100%;
  box-shadow: 1px 3px 2px 0px black;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-bottom: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: linear-gradient(270deg, #6046BE 0.63%, #305CED 99.1%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color);
  
}

section.pro {
  background: var(--content-background);
  padding: 5px 60px 5px 60px;
  margin: 30px 10px 0px 10px;
  border-radius: 5px;
}

section.pro div {
  overflow-x: auto;
}


section.pro  p a {
  text-decoration: underline;
}

section img {
  height: 250px;
  padding-top: 20px;
  object-fit: contain;
}

section img:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}


ul {
  margin-top: -.5em;
  padding-left: 1em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 100;
  padding-top: 40px;


}

h2 {
  font-size: 1.5em;
  color: var(--title-color);
}

.pure-table {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  padding: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

a:link {
  text-decoration: none;
  color: var(--color);
}

a:visited {
  color: var(--color);
}

h2 a:visited::before,
h2 a:link::before {
  color: var(--title-color);
}

h2 a:visited,
h2 a:link {
  color: var(--color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #040613 0%, #080B22 38.55%, #030722 79.9%, #0E1643 84.28%, #0C0F2D 100%);
}

.header img {
  height: 450px;
  margin-bottom: -137px;
  margin-top: -131px;
}

.header  {
  margin-top: 2em;
  height: 30vh;;
}

header div {
  display: flex;
  text-align: left;
  font-size: 1em;
  text-shadow: none;
  flex-direction: row;
}

header div p {
  font-size: 1.4em;
  padding: 30px;
  animation-name:white;
  animation-duration:3s;
  animation-iteration-count:infinite;

}

th {
  background: #263042;
  color: white;
}


.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes white {
  0% {color:white;
  text-shadow: 0 0 2px black,0 0 5px white, 0 0 10px white, 0 0 20px white;}
  95% {color:#D5F9FE;
  text-shadow: 0 0 2px black,0 0 5px white, 0 0 10px white, 0 0 20px white;}
  100% {color:silver;
  text-shadow: 0 0 2px black;}
} 

@media (max-width: 900px) {
  header div {
    flex-direction: column;
    padding: 0px;
  } 
  header div p {
    padding: 0;
    margin-top: -9px;
  }
  .table {
    flex-direction: column;
  }
  img {
    max-width: 300px;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    --color: #E6E8EE ;
    --background: #1D2227 ;
    --negative: white ;
    --link: #58a6ff ;
    --visited-link: #8e96f0 ;
  }
} */