html {
  --color: #FFFFFF;
  --title-color:#263042;
  padding: 0px;
}


body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-bottom: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color);
  background: #000b19;
  
}

em {
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container div {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-shadow: none;
}

section div section {
  padding: 4em 2em;
}

section div section p {
  font-size: 1.2em;
  line-height: 1.2em;
}

section.pro .table {
  overflow-x: auto;
}

#decentralization {
  background: linear-gradient(270deg, #6046BE 0.63%, #305CED 99.1%);

}

#governance {
  background: #2A3358;
}

#ecosystem{
  background: #2D4DC8;
}

section.pro  p a {
  text-decoration: underline;
}

section img {
  height: 250px;
  padding-top: 20px;
  object-fit: contain;
}


ul {
  margin-top: -.5em;
  padding-left: 1em;
  font-size: 1.2em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 100;
  padding-top: 0.2em;
  padding-left: 0.8em;
  text-align: left;
  width: 6em;
}

b {
  background: -webkit-linear-gradient(270deg, #6046BE 0.63%, #305CED 99.1%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 100;
  font-size: 3em;
  color: var(--color);
}

.pure-table {
  margin: 3em 0;
  font-size: 16px;
  color: var(--color);
}

.pure-table thead{
  color: var(--color);
}

.center {
  padding: 5px;
  text-align: center;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

a:link {
  text-decoration: none;
  color: var(--color);
}

a:visited {
  color: var(--color);
}

h2 a:visited::before,
h2 a:link::before {
  color: var(--title-color);
}

h2 a:visited,
h2 a:link {
  color: var(--color);
}

header {
  background-image: url('./images/header-bg.webp');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}

header img {
  height: 430px;
  margin: 2em 0;
  width: 100%;
}

header div a {
  line-height: 2.5em;
  margin: 3.2em;
  padding: 12px;
  border-radius: 50px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.2em;
}

header div a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#governance th {
  background: #5f47c1;
}

th {
  background: #263042;
}

.container .title {
  margin: 5px;
  background-color: #d6d6d6;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  padding: 15px 25px;
  transition: all 0.2s ease;
}

.container   img.card-img {
  background: #16232a;
  width: 150px;
  height: 200px;
}

.container .title:after {
  content: "\02795";
  position: absolute;
  right: 15px;
  font-size: 14px;
}

.container .title-active:after {
  content: "\2796";
  color: var(--color);
  position: absolute;
  right: 15px;
  font-size: 14px;
}

.container .panel {
  display: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  max-width: 90%;
  overflow: hidden;
}

.container .title:hover {
  background-color: var(--color);
}

.container .panel-active {
  display: block;
  padding-left: 15px;
}

.container .scene {
  display: inline-block;
  width: 180px;
  height: 260px;
  margin: 20px 19px;
  perspective: 600px;
}

.container .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.container .card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.container .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: 130;
  font-size: 0.9em;
  backface-visibility: hidden;
  padding-left: 25px;
}

.container .card__face--front {
  background: #16232a;
}

.container .card__face--back {
  background: #16232a;
  transform: rotateY(180deg);
  padding: 15px;
}


@media (max-width: 900px) {

  .container div {
    flex-direction: column;
  }
  header div {
    flex-direction: column;
    padding: 0px;
  } 

  header img {
    display: none;
  }
  header div p {
    padding: 0;
    margin-top: -9px;
  }

}

@media (max-width: 711px) {
  section.pro .table {
    width: 500px;
  }
  h1 {
    width: auto;
    padding-left: 0.3em;
  }

  header div a {
    margin: 1.2em;
  } 
}

@media (max-width: 500px) {
  section.pro .table {
    width: 350px;
  }
  img {
    max-width: 300px;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    --color: #E6E8EE ;
    --background: #1D2227 ;
    --negative: white ;
    --link: #58a6ff ;
    --visited-link: #8e96f0 ;
  }
} */