<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://tezos.com/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://tezos.com/favicon-32x32.png">
</head>

<body>
  {{ content }}
</body>

</html>
